<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/common :: head(~{::title}, ~{})">
    <title>Books</title>
</head>
<body>
<th:block th:replace="admin/fragments/common :: main('categories', ~{::main})">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-0" role="main">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td>
                        <form action="#" method="post"
                              th:action="@{/admin/categories/delete}">
                            <input name="id" type="hidden" th:value="${category.id}"/>
                            <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</th:block>
<th:block th:replace="admin/fragments/common :: scripts"/>
</body>
</html>
