<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: common_head(~{::title}, ~{})">
    <title>Index</title>
</head>
<body>

<div th:replace="user/fragments/header :: header">Header</div>

<section id="quotes">
    <div class="quote">
    </div>
</section>

<section class="books">
    <a href="#" th:each="book : ${pageOne}" th:href="@{'/description?id=' + ${book.id}}">
        <div class="book">
            <div class="book-image">
                <!--                    <img src="<c:url value='${initParam.relativeCoversPath}${book.cover}'/>">-->
            </div>
            <div class="book-title" th:text="${book.name}">
                Book name
            </div>
            <div class="book-author" th:text="${book.author}">
                Book author
            </div>
        </div>
    </a>
</section>

<section class="books">
    <a href="#" th:each="book : ${pageTwo}" th:href="@{'/description?id=' + ${book.id}}">
        <div class="book">
            <div class="book-image">
                <!--                    <img src="<c:url value='${initParam.relativeCoversPath}${book.cover}'/>">-->
            </div>
            <div class="book-title" th:text="${book.name}">
                Book name
            </div>
            <div class="book-author" th:text="${book.author}">
                Book author
            </div>
        </div>
    </a>
</section>

<footer th:replace="user/fragments/footer :: footer">Header</footer>

</body>
</html>
