<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="../../../static/css/main.css" media="screen" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="../../../static/js/jquery-2.2.0.js" th:src="@{/js/jquery-2.2.0.js}"></script>
    <script src="../../../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:fragment="header">
    <header>
        <div id="authorization">
            <a href="#" th:href="@{/signin}">Sigh In</a>
            <a href="#" th:href="@{/registration}">Create Account</a><br/>
        </div>
        <div id="search-line">
            <div id="logo">
                <a href="#" th:href="@{/index}">Bookstore</a>
            </div>
            <div id="search-input">
                <form action="#" th:action="@{/searchresult}">
                    <input name="search" placeholder="Search books by Title, Author, or ISBN" type="text"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>
            <div id="cart">
                <a href="#" th:href="@{/cart}">
                    <img src="../../../static/img/cart-icon.png" th:src="@{/img/cart-icon.png}">
                </a>
            </div>
        </div>
    </header>

    <nav>
        <ul>
            <li th:each="category : ${categories}">
                <a href="#" th:href="@{'/category?id=' + ${category.id}}" th:text="${category.name}">Category title</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
