<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="user/fragments/common :: head(~{::title}, ~{})">
    <title>Book</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="user/fragments/common :: header(${categories})"></header>

    <div class="row my-3">
        <div class="col-2">
            <div class="card p-1">
                <img class="card-img-top" th:src="@{/img/diagonal_fabric.png}" alt="Book cover">
                <div class="card-body">
                    <p class="card-text" th:text="${book.name + ' by ' + book.author}"></p>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div id="description">
                <p th:text="${book.description}">Description</p>
            </div>
            <div>
                <form class="form-inline float-right">
                    <input type="hidden" value="-1" th:value="${book.id}" name="id"/>
                    <div class="form-group mb-2">
                        <label for="price" class="sr-only">Price</label>
                        <input type="text" readonly class="form-control-plaintext" id="price" value="Price: $19.99"
                               th:value="${'Price: $' + book.price}">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Add to cart</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="user/fragments/common :: footer"></footer>
</div>
</body>
</html>
