<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: common_head(~{::title}, ~{})">
    <title>Shopping cart</title>
</head>
<body>

<div th:replace="user/fragments/header :: header">Header</div>

<div id="cart-exposition">
    <div id="cart-header">
        Shopping Cart
    </div>
    <div id="cart-items-and-checkout">
        <div id="cart-items">
            <div class="cart-item" th:each="item : ${cart.items}">
                <a href="#" th:href="@{'/description?id=' + ${item.book.id}}">
                    <div class="book-image">
                        <img src="">
                    </div>
                    <div class="cart-item-details">
                        <div class="cart-item-header">
                            <span th:text="${item.book.name}">Name</span><br/>
                            <span th:text="${item.book.author}">Author</span>
                        </div>
                        <div class="cart-item-info">
                            <span th:text="|Language: ${item.book.language}|">Language</span><br/>
                            <span th:text="|Format: ${item.book.format}|">Format</span><br/>
                            <span th:text="|Publisher: ${item.book.publisher}|">Publisher</span><br/>
                        </div>
                    </div>
                </a>
                <div class="cart-item-quantity">
                    <form action="#" method="post" th:attr="action=@{/cart/updateQuantity}">
                        <input type="hidden" name="bookId" value="-1" th:value="${item.book.id}"/>
                        <input type="text" name="quantity" value="1" th:value="${item.quantity}"/>
                        <input type="submit" value="Update"/>
                    </form>
                    <form action="#" method="post" th:attr="action=@{/cart/deleteFromCart}">
                        <input type="hidden" name="bookId" value="${item.book.id}"/>
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
                <div class="cart-item-subtotal">
                    <span th:text="|${item.totalPrice}$|">19.99$</span>
                </div>
            </div>
        </div>

        <div id="checkout-confirmation" class="extraction">
            <div class="extraction-header">
                Confirmation
            </div>
            <div class="extraction-details">
                <table>
                    <tr>
                        <th>Order Total:</th>
                        <td th:text="|${cart.totalPrice}$|">99.99$</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <form action="#" method="post" th:attr="action=@{/cart/checkout}">
                                <input type="submit" value="Continue to Checkout"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="user/fragments/footer :: footer">Header</footer>

</body>
</html>
