<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: common_head(~{::title}, ~{})">
    <title>Book description</title>
</head>
<body>

<div th:replace="user/fragments/header :: header">Header</div>

<div id="book-exposition">
    <div id="book-description">
        <div class="book-image">
            <img src="">
        </div>
        <div id="description">
            <span th:text="|Format: ${book.format}|"></span><br/>
            <span th:text="|Language: ${book.language}|"></span><br/>
            <span th:text="|ISBN: ${book.isbn}|"></span><br/>
<!--            <span th:text="|ISBN: ${book.isbn}|"></span><br/>-->
            <span th:text="|Publisher: ${book.publisher}|"></span><br/>
            <span th:text="|Pages: ${book.pages}|"></span><br/>
<!--            Format: ${book.format}<br/>-->
<!--            Language: ${book.language}<br/>-->
<!--            ISBN: ${book.isbn}<br/>-->
<!--            Release Date: ${releaseDate}<br/>-->
<!--            Publisher: ${book.publisher}<br/>-->
<!--            Length: ${book.pages}<br/>-->
        </div>
    </div>
    <div id="details">
        <div id="details-header">
            <span th:text="|${book.name} by ${book.author}|">Book by Author</span>
        </div>
        <div id="overview">
            <span th:text="${book.description}">Description</span>
        </div>
        <div>
            <form>
                <span th:text="|Price: ${book.price}$|">19.99$</span>
                <input type="hidden" value="-1" th:value="${book.id}" name="id"/>
                <input type="submit" value="Add to Cart"/>
            </form>
        </div>
    </div>
</div>

<footer th:replace="user/fragments/footer :: footer">Header</footer>

</body>
</html>
