<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/common :: head(~{::title}, ~{}, ${_csrf})">
    <title>Index</title>
</head>
<body>
<th:block th:replace="user/fragments/common :: main(${categories}, ~{::main})">
    <main class="container" role="main">
        <div class="card-columns my-3" style="column-count: 4">
            <div class="card clickable-card book-cover-card p-1" th:each="book : ${books}">
                <a href="#" th:href="@{'/book?id=' + ${book.id}}">
                    <img alt="Book cover" class="card-img-top" src="" th:src="*{@s3Properties.bucketUrl + book.s3CoverKey}">
                    <div class="card-body">
                        <p class="card-text" th:text="${book.title + ' by ' + book.author}"></p>
                    </div>
                </a>
            </div>
        </div>
    </main>
</th:block>
<th:block th:replace="user/fragments/common :: scripts"/>
</body>
</html>
