<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments/common :: head(~{::title}, ~{})">
    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="user/fragments/common :: header(${categories})"></div>
    <div class="card-columns my-3" style="column-count: 6">
        <div class="card p-1" th:each="book : ${books}">
            <a href="#" th:href="@{'/book?id=' + ${book.id}}">
                <img class="card-img-top" th:src="@{/img/diagonal_fabric.png}" alt="Book cover">
                <div class="card-body">
                    <p class="card-text" th:text="${book.name + ' by ' + book.author}"></p>
                </div>
            </a>
        </div>
    </div>
    <footer th:replace="user/fragments/common :: footer"></footer>
    <script>
        $(document).ready(function () {
            $(".card").hover(
                function () {
                    $(this).addClass('shadow bg-white rounded');
                },
                function () {
                    $(this).removeClass('shadow bg-white rounded');
                }
            )
        });
    </script>
</div>
</body>
</html>
