<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/common :: head(~{::title}, ~{})">
    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="user/fragments/common :: header(${categories})"></div>
    <div class="card-columns my-3" style="column-count: 6">
        <div class="card p-1 clickable-card" th:each="book : ${books}">
            <a href="#" th:href="@{'/book?id=' + ${book.id}}">
                <img alt="Book cover" class="card-img-top" th:src="@{/img/diagonal_fabric.png}">
                <div class="card-body">
                    <p class="card-text" th:text="${book.name + ' by ' + book.author}"></p>
                </div>
            </a>
        </div>
    </div>
    <footer th:replace="user/fragments/common :: footer"></footer>
</div>
<th:block th:replace="user/fragments/common :: scripts"/>
</body>
</html>
