* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', Tahoma, Arial, Helvetica, sans-serif;
    color: #e1e1e1;
    margin: 0px;
}

header {
    position: absolute;
    width: 20%;
    height: 100%;
    background-image: url(../img/binding_dark.png);
    overflow: hidden;
}

header h2 {
    text-align: center;
    margin: 10px;
}

#nav {
    padding: 10px;
    font-size: 14px;
    text-align: right;
}

#nav a:link, #nav a:visited {
    color: #676767;
    text-decoration: none;
}

#nav a:hover {
    color: #e94f31;
    text-decoration: none;
}

#nav a:first-child {
    padding-right: 5px;
    border-right: 1px solid #a2a194;
}

#admin-menu, #admin-menu ul, #admin-menu li, #admin-menu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
    border-radius: 5px;
}

#admin-menu {
    margin-left: 10px;
    margin-right: -5px;
}

#admin-menu > ul > li {
    background: #e94f31;
    background: linear-gradient(#e94f31 0%, #d13516 100%);
}

#admin-menu > ul > li:hover {
    background: #e94f31;
    background: linear-gradient(#e84323 0%, #c33115 100%);
}

#admin-menu > ul > li > a {
    font-size: 14px;
    display: block;
    color: #ffffff;
    border: 1px solid #ba2f14;
    border-top: none;
    text-shadow: 0 -1px 1px #751d0c;
}

#admin-menu > ul > li > a > span {
    display: block;
    padding: 12px 10px;
}

#admin-menu > ul > li > a:hover {
    text-decoration: none;
}

#admin-menu > ul > li.active {
    border-bottom: none;
}

/* Sub menu */
#admin-menu ul ul {
    display: none;
    border-right: 1px solid #a2a194;
    border-left: 1px solid #a2a194;
}

#admin-menu ul ul li {
    padding: 0;
    border-bottom: 1px solid #d4d4d4;
    border-top: none;
    background: #f7f7f7;
    background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}

#admin-menu ul ul li:last-child {
    border-bottom: none;
}

#admin-menu ul ul a {
    padding: 10px 10px 10px 25px;
    display: block;
    color: #676767;
    font-size: 12px;
}

#admin-menu ul ul a:before {
    content: "»";
    position: absolute;
    left: 10px;
    color: #e94f31;
}

#admin-menu ul ul a:hover {
    color: #e94f31;
}

/*================= Admin-tables ======================*/

.admin-tables {
    overflow: auto;
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
}

.admin-tables table {
    text-align: center;
    width: 100%;
    border-collapse: separate;
    font-size: 12px;
}

.admin-tables th {
    background: linear-gradient(#777, #444);
    color: #fff;
    padding: 10px 15px;
    text-shadow: 0 1px 0 #000;
}

.admin-tables td {
    color: black;
    padding: 10px 15px;
    transition: all 300ms;
}

.admin-tables tr:nth-child(odd) td {
    background: #f1f1f1;
}

.admin-tables tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.admin-tables tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

/*================ book editor ===================*/

.book-form {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
}

/* Basic Grey */
.basic-grey {
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}

.basic-grey h1 > span {
    display: block;
    font-size: 11px;
}

.basic-grey label {
    display: block;
    margin: 0px;
}

.basic-grey label > span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="file"], .basic-grey input[type="month"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
    padding: 5px 3px 3px 5px;
}

.basic-grey select {
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.basic-grey textarea {
    height: 100px;
}

.button {
    width: 60px;
    background: #e94f31;
    border: none;
    padding: 10px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.button:hover {
    background: #EBEBEB;
}

/* ================ statistics ================= */

#chart-header {
    position: absolute;
    right: 0;
    width: 80%;
    padding: 10px;
    font-size: 40px;
    color: #d0d0d0;
    text-align: center;
}

#data {
    display: none;
}

#chart {
    overflow: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
}