<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head(title, links)">
    <title th:replace="${title}">Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">

    <th:block th:replace="${links}"/>
</head>

<header th:fragment="header(categories)">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/admin/sign-in}">Admin Console</a>
        </li>
    </ul>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" th:href="@{/index}">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a th:each="category : ${categories}" class="dropdown-item" href="#"
                           th:href="@{/category(id=${category.id}, page=1)}" th:text="${category.name}">Category
                            Name</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto" action="#" th:action="@{/search}" method="get">
                <input class="form-control mr-sm-2" style="width: 400px;" type="search" name="q"
                       placeholder="Search books by title, author, or ISBN" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a class="btn btn-success ml-2" href="#" th:href="@{/cart}">
                <i class="fa fa-shopping-cart"></i> Cart
                <span id="cartItemsNumber" class="badge badge-light" th:text="${cart.itemsNumber}">3</span>
            </a>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="footer">
    <p class="text-muted text-center">Copyright &copy; 2020 Bookstore.com</p>
</footer>

<th:block th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/user/common.js}"></script>
</th:block>

</html>