<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="../../../static/css/main.css" media="screen" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="../../../static/js/jquery-2.2.0.js" th:src="@{/js/jquery-2.2.0.js}"></script>
    <script src="../../../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
<footer th:fragment="footer">
    <div id="footer-lists">
        <div class="footer-list">
            <div class="list-header">
                Popular Categories
            </div>
            <ul>
                <li th:each="category : ${categories}">
                    <a href="#" th:href="@{'/category?id=' + ${category.id}}" th:text="${category.name}">Category
                        title</a>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <div class="list-header">
                My Account
            </div>
            <ul>
                <li><a href="#">Settings</a></li>
                <li><a href="#" th:href="@{/cart}">Shopping Cart</a></li>
                <li><a href="#">Order History</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <div class="list-header">
                Quick Help
            </div>
            <ul>
                <li><a href="#">Help &amp; Support</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div id="copyright">
        Copyright &copy; 2019 Bookstore.com
    </div>
</footer>
</body>
</html>